:root {
  --header-height: 6.4rem;
  /* Colors */
  --primary-color: hsl(24, 26%, 45%);
  --primary-color-dark: hsl(24, 34%, 33%);

  --title-color: hsl(0, 0%, 22%);
  --text-color: hsl(0, 0%, 44%);
  --text-color-light: hsl(0, 0%, 66%);
  --body-color: hsl(0, 0%, 95%);
  --container-color: hsl(0, 0%, 100%);
  /* Typography */
  --font-family: "Poppins", Arial, Helvetica, sans-serif;

  --icon-font-size: 4.8rem;
  --h1-font-size: 2.4rem;
  --h2-font-size: 2rem;
  --h3-font-size: 1.6rem;
  --normal-font-size: 1.5rem;
  --small-font-size: 1.3rem;
  --smaller-font-size: 1.2rem;

  --weight-medium: 500;
  --weight-semi-bold: 600;
  /* Margins */
  --margin-1: 0.8rem;
  --margin-2: 1.6rem;
  --margin-3: 2.4rem;
  --margin-4: 3rem;
  --margin-5: 3.6rem;
  --margin-6: 4.2rem;
  /* Z Index */
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media only screen and (min-width: 48em) {
  :root {
    --massive-font-size: 7.2rem;
    --h1-font-size: 3.6rem;
    --h2-font-size: 2.4rem;
    --h3-font-size: 2rem;
    --normal-font-size: 1.6rem;
    --small-font-size: 1.4rem;
    --smaller-font-size: 1.3rem;
  }
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  // margin-top: var(--header-height);
  font-family: var(--font-family);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  line-height: 1.6;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

img {
  width: 100%;
  height: auto;
}
