.section {
  padding: 6.4rem 0 3.2rem;
}

.section-title,
.section-subtitle {
  text-align: center;
}

.section-title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
  margin-bottom: var(--margin-3);
}

.section-subtitle {
  display: block;
  color: var(--primary-color);
  font-size: var(--h2-font-size);
  font-weight: var(--weight-medium);
  margin-bottom: var(--margin-1);
}

.container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  overflow: auto;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  gap: 2.4rem;
}

.button {
  display: inline-block;
  background-color: var(--primary-color);
  color: var(--container-color);
  padding: var(--small-font-size) var(--h3-font-size);
  border-radius: var(--h2-font-size);
  transition: 0.4s;
}

.theme-button {
  color: var(--text-color);
  font-size: var(--h1-font-size);
  cursor: pointer;
}
