.container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  overflow: auto;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.grid {
  display: grid;
  gap: 2.4rem;
}

.button {
  display: inline-block;
  background-color: var(--primary-color);
  color: var(--container-color);
  padding: var(--small-font-size) var(--h3-font-size);
  border-radius: var(--h2-font-size);
  transition: 0.4s;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      transform: translateY(-0.5rem);
      box-shadow: var(--shadow-dark);
    }
  }

  &:active {
    transform: translateY(0);
    box-shadow: none;
  }
}

.theme-button {
  color: var(--text-color);
  font-size: var(--h1-font-size);
  cursor: pointer;
  transition: 0.4s;
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: var(--primary-color);
    }
  }
}

.scroll-top {
  position: fixed;
  bottom: -6rem;
  right: 5rem;
  font-size: var(--icon-font-size);
  color: var(--primary-color);
  z-index: var(--z-tooltip);
  transition: 0.4s;

  &.visible {
    bottom: 5rem;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      opacity: 0.5;
    }
  }
}
