@media only screen and (min-width: 36em) {
  .section__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .section__image-left {
    width: 38rem;
    order: -1;
  }
}

@media only screen and (min-width: 50em) {
  .section {
    padding-top: 12.8rem;
  }

  .nav__menu {
    flex-direction: row;
    justify-content: space-between;
    width: 60rem;
  }

  .nav__toggle {
    display: none;
  }

  .section__container,
  .section__services {
    margin-top: var(--margin-6);
  }

  .footer__container {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 60em) {
  .section__image {
    width: 50rem;
  }

  .section__container {
    gap: 11.2rem;
  }
}
