.section {
  padding: 6.4rem 0 3.2rem;
  text-align: center;

  &__container,
  &__services {
    display: grid;
    gap: 2.4rem;
    width: 90%;
    height: 100%;
    margin: 0 auto;
  }

  &__data {
    text-align: center;
  }

  &__description {
    margin-bottom: var(--margin-3);
  }

  &__title {
    font-family: "Oleo Script Swash Caps";
    font-size: var(--icon-font-size);
    color: var(--primary-color);
    margin-bottom: var(--margin-1);
  }

  &__heading {
    font-size: var(--h1-font-size);
    color: var(--title-color);
    margin-bottom: var(--margin-3);
  }

  &__subheading {
    display: block;
    color: var(--primary-color);
    font-size: var(--h2-font-size);
    font-weight: var(--weight-medium);
    margin-bottom: var(--margin-1);
  }

  &__image-right,
  &__image-left {
    width: 30rem;
    border-radius: 1rem;
    justify-self: center;
  }

  &__services {
    row-gap: 4rem;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  }

  &__service-image {
    width: 6.4rem;
    height: 6.4rem;
    fill: var(--primary-color);
    margin-bottom: var(--margin-2);
  }

  &__service-title {
    font-size: var(--h3-font-size);
    color: var(--title-color);
    margin-bottom: var(--margin-1);
  }

  &__stores {
    flex-direction: column;
    justify-self: center;
  }

  &__store {
    width: 30rem;
    margin: var(--margin-2);
  }
}
