@import url("https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&family=Poppins:wght@400;500;600;700&display=swap");
:root {
  --header-height: 6.4rem;
  /* Colors */
  --primary-color: hsl(24, 26%, 45%);
  --primary-color-dark: hsl(24, 34%, 33%);
  --title-color: hsl(0, 0%, 22%);
  --text-color: hsl(0, 0%, 44%);
  --text-color-light: hsl(0, 0%, 66%);
  --body-color: hsl(0, 0%, 95%);
  --container-color: hsl(0, 0%, 100%);
  /* Typography */
  --font-family: "Poppins", Arial, Helvetica, sans-serif;
  --icon-font-size: 4.8rem;
  --h1-font-size: 2.4rem;
  --h2-font-size: 2rem;
  --h3-font-size: 1.6rem;
  --normal-font-size: 1.5rem;
  --small-font-size: 1.3rem;
  --smaller-font-size: 1.2rem;
  --weight-medium: 500;
  --weight-semi-bold: 600;
  /* Margins */
  --margin-1: 0.8rem;
  --margin-2: 1.6rem;
  --margin-3: 2.4rem;
  --margin-4: 3rem;
  --margin-5: 3.6rem;
  --margin-6: 4.2rem;
  /* Z Index */
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media only screen and (min-width: 48em) {
  :root {
    --massive-font-size: 7.2rem;
    --h1-font-size: 3.6rem;
    --h2-font-size: 2.4rem;
    --h3-font-size: 2rem;
    --normal-font-size: 1.6rem;
    --small-font-size: 1.4rem;
    --smaller-font-size: 1.3rem;
  }
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--font-family);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  line-height: 1.6;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

img {
  width: 100%;
  height: auto;
}

.section {
  padding: x 6.4rem 0 3.2rem;
}

.section-title,
.section-subtitle {
  text-align: center;
}

.section-title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
  margin-bottom: var(--margin-3);
}

.section-subtitle {
  display: block;
  color: var(--first-color);
  font-weight: var(--weight-medium);
  margin-bottom: var(--margin-1);
}

.container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  overflow: auto;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  gap: 2.4rem;
}

.scroll-top {
  position: fixed;
  bottom: -6rem;
  right: 1rem;
  font-size: var(--icon-font-size);
  color: var(--primary-color-dark);
  z-index: var(--z-tooltip);
  transition: 0.4s;
}
.scroll-top.visible {
  bottom: 1rem;
}

.header {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
  transition: 0.4s;
}
.header.scroll-header {
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
}

.nav {
  height: var(--header-height);
  justify-content: space-between;
}
.nav__logo, .nav__logo:hover {
  font-family: "Oleo Script Swash Caps";
  font-size: var(--h1-font-size);
  color: var(--primary-color-dark);
}
.nav__menu {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  padding: 2.4rem 0 1.6rem;
  text-align: center;
  border-radius: 0 0 1.6rem 1.6rem;
  background-color: var(--body-color);
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
  transition: 0.4s;
  z-index: var(--z-fixed);
}
.nav__menu.show {
  top: 7.4rem;
}
.nav__item {
  margin-bottom: var(--margin-2);
}
.nav__toggle {
  font-size: var(--h1-font-size);
  font-weight: var(--weight-medium);
  cursor: pointer;
  color: var(--text-color);
}
.nav__link {
  font-weight: var(--weight-medium);
  transition: 0.4s;
}
.nav__link:hover {
  color: var(--primary-color);
}
.nav__link.active {
  color: var(--primary-color);
}/*# sourceMappingURL=style.css.map */